<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="EmailFrom" value="nugetindexer@outlook.com"/>
    <add key="EmailFromPassword" value=""/>
    <add key="EmailTo" value=""/>
    <add key="EmailSmtp" value="smtp-mail.outlook.com"/>
    <add key="ignoreinformation" value="true"/>
    <add key="ignorewarning" value="true"/>
    <add key="ignoreerror" value="false"/>
    <add key="tablestorage" value=""/>
    <add key="knownlogstable" value="knownlogs"/>
  </appSettings>
  <system.diagnostics>
    <trace autoflush="false" indentsize="4">
      <listeners>
        <add name="configConsoleListener" type="System.Diagnostics.ConsoleTraceListener" />
      </listeners>
    </trace>
  </system.diagnostics>
</configuration>