<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ElasticSearch" value="http://rtaket-es001:9200/" />
    <add key="Index" value="nugetindexer" />
    <add key="MaxThreads" value="1" />
    <add key="AzureConnectionString" value="DefaultEndpointsProtocol=https;AccountName=ngservicestatus;AccountKey=qHRP+L9nWJBmwiR9pLKelm8KjCftdCyxrEoYUeUuvDEtE2dKR60kvSwacZf+o8Xc1v0LV+gBS+m/O4qmnhonpg==;BlobEndpoint=https://ngservicestatus.blob.core.windows.net/;TableEndpoint=https://ngservicestatus.table.core.windows.net/;QueueEndpoint=https://ngservicestatus.queue.core.windows.net/;FileEndpoint=https://ngservicestatus.file.core.windows.net/" />
    <add key="AzureTableName" value="Status" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="false">
      <listeners>
        <clear />
        <add name="Console" type="Ng.TraceListeners.ConsoleTraceListener, Ng.TraceListeners" initializeData="date, time, machine, threadid" />
        <add name="TextFile" type="Ng.TraceListeners.TextFileTraceListener, Ng.TraceListeners" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
