<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <add key="ElasticSearchServerUrl" value="http://mikefan-server0:9200/" />
    <add key="IndexName" value="nuget-20151118_3" />
    <add key="QueueDirectory" value=".\QUEUE" />
    <add key="MaxIndexerThreads" value="1" />
    <add key="PackageSource" value="https://packages.nuget.org/api/v2" />
    <add key="IndexLatestVersion" value="true" />
    <add key="IndexAbsoluteLatestVersion" value="false" />
    <add key="IndexHistoricalVersions" value="false" />
  </appSettings>
  <system.diagnostics>
    <trace autoflush="true" useGlobalLock="false">
      <listeners>
        <clear />
        <add name="Console" type="Microsoft.Sonar.Tracing.ConsoleTraceListener, Microsoft.Sonar.TraceListeners" initializeData="time, threadid" />
        <add name="TextFile" type="Microsoft.Sonar.Tracing.TextFileTraceListener, Microsoft.Sonar.TraceListeners" />
        <!--<add name="EventLog" type="Microsoft.Sonar.Tracing.EventLogTraceListener, Microsoft.Sonar.TraceListeners" />-->
        <add name="Http" type="Microsoft.Sonar.Tracing.HttpTraceListener, Microsoft.Sonar.TraceListeners" />
        <add name="Azure" type="Microsoft.Sonar.Tracing.AzureTraceListener, Microsoft.Sonar.TraceListeners" />
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
