<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="PublishRemote" value="false"/>
    <add key="RemoteURL" value="placeholder"/>
    <add key="RemoteUserName" value="placeholder"/>
    <add key="RemoteUserToken" value="placeholder"/>
    
    <add key="PublishLocation" value="G:\Elfie\RemoteNugetSearch"/>
    <add key="NewIndexLocation" value="G:\Testdata\Latest.txt"/>
    <add key="TempLocation" value="G:\Temp"/>
    
    <add key="NoOfPatches" value="30"/>
    <add key="DeltaSizeLimitBytes" value="30000"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6"/>
    </startup>
</configuration>
